body {
  background-color: #202122;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #c4c1c1;
  z-index: 10;
  margin: 0;
  padding: 0;
}

#map {
  position: relative;
}

.search {
  position: absolute;
  top: 1rem;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.row {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* background-color: #c4c1c1; */
  border: 1px solid black;
}

.weather-box {
  color: #c4c1c1;
}

.pollution-box {
  padding-top: 1rem;
}

.bold-location-box{
  font-size: large;
}

.react-date-picker__inputGroup__input {
  color: #c4c1c1;
}

svg.react-date-picker__clear-button__icon.react-date-picker__button__icon {
  stroke: antiquewhite;
}

svg.react-date-picker__calendar-button__icon.react-date-picker__button__icon {
  stroke: antiquewhite;
}